/**
 * @name Nord
 * @author 5TAHUR5
 * @version 1.0.0
 * @description Nord theme.
 * @source https://github.com/5TAHUR5/discord_themes
*/

/* palette: https://www.nordtheme.com/ */

:root {
    --background: 41, 46, 57;
    --background_alt: 59, 66, 82;
    --background_urgent: 67, 76, 94;
    --background_accent: 76, 86, 106;
    --foreground: 236, 239, 244;
    --red: 191, 97, 106;
    --green: 163, 190, 140;
    --yellow: 235, 203, 139;
    --orange: 208, 135, 112;
    --blue: 94, 129, 172;
    --violet: 180, 142, 173;
    --gray: 217, 222, 232;
    --accent: 217, 222, 232;
    --font: JetBrainsMono Nerd Font;
}

/* for border message when hover*/
/* .message__80c10.selected_fd9051, .mouse-mode.full-motion .message__80c10:hover {
    box-shadow: inset 0 0 3px rgb(var(--foreground));
} */
