/**
 * @name RoundingDestroy
 * @author 5TAHUR5
 * @version 1.0.0
 * @description Destroy rounding.
*/

/* destroy border-radius */
:root {
    --radius-round: 0;
    --radius-sm: 0;
    --radius-xs: 0;
    --radius-lg: 0;
    --radius-md: 0;
    --radius-xl: 0;
    --radius-xxl: 0;
    --custom-guild-boosting-marketing-tier-cards-tier-card-border-radius: 0;
    --custom-scrollbar-border-radius: 0;
    --custom-emoji-picker-border-radius: 0;
    --custom-live-indicator-border-radius: 0;
    --__adaptive-radius: 0;
    --custom-base-tile-border-radius: 0;
    --custom-stickers-constants-sticker-picker-preview-border-radius: 0;
    --custom-reaction-picker-border-radius: 0;
}

.partyMember__8c6e6 {
    border-radius: 0;
    -webkit-mask: none;
    mask: none;
    margin-left: 3px;
}

.partyAvatar_ac0e41 {
    border-radius: 0;
    -webkit-mask: none;
    mask: none;
    margin-left: 3px;
}

.selected_f5ec8e img {
    width: 43px;
    height: 43px;
}

.selected__5250e {
    width: 43px;
    height: 43px;
    margin-top: 2.5px;
    margin-left: 2.5px;
}

foreignObject {
    mask: none;
}

rect {
    mask: none;
}

rect[fill="#23a55a"] {
    stroke: rgba(12, 63, 33, .8);
    stroke-width: 3px;
    stroke-dasharray: 10px 10px 0;
}

rect[fill="#f0b232"] {
    stroke: rgba(131, 96, 27, .8);
    stroke-width: 3px;
    stroke-dasharray: 10px 10px 0;
}

rect[fill="#80848e"] {
    stroke: rgba(93, 95, 103, .8);
    stroke-width: 3px;
    stroke-dasharray: 10px 10px 0;
}

rect[fill="#f23f43"] {
    stroke: rgba(132, 34, 36, 0.8);
    stroke-width: 3px;
    stroke-dasharray: 10px 10px 0;
}

rect[fill="#593695"] {
    stroke: rgba(65, 40, 109, 0.8);
    stroke-width: 3px;
    stroke-dasharray: 10px 10px 0;
}

rect[mask="url(#svg-mask-status-online-mobile)"] {
    stroke: rgba(12, 63, 33, .8);
    stroke-width: 3px;
    stroke-dasharray: 10px 13px 0;
    height: 13px;
    y: 19px;
}

 
.status_be3f03 {
    background: transparent;
}

.size24_f4a88d .avatarContainerMasked__6a03e {
    margin-right: 3px;
}

.avatar__109ad {
    margin-right: 2px;
}

.messageInputContainer__768e6 {
    margin-right: 8px;
}

.svg_f5b652 circle {
    r: 0;
}


.slider__41d94 rect {
    rx: 0;
}

.svg_f5b652 svg rect {
    x: 7.5px;
    y: 5px;
    width: 10px;
    height: 10px;
}

.avatar__6c108 svg rect {
    stroke-width: 0;
}

.avatarHoverTarget__3a360 svg rect {
    x: 60px;
    y: 60px;
    width: 16px;
    height: 16px;
    stroke-width: 0;
}

foreignObject img {
    mask: linear-gradient(to top, transparent 13px, black 0), linear-gradient(to left, transparent 13px, black 0);
}



/*
.toast_f06316
.interactive__776ee
.iconActiveMini__0163a,
.iconActiveSmaller__5519c,
.iconActiveSmall_fadb80,
.iconActiveMedium_d5475f,
.iconActiveLarge__8985a,
.iconActiveLarger__0698f,
.iconActiveXLarge_f0b973,
.rem__931aa.botTag__4211a,
.rem__931aa.botTag__4211a.botTagOP_e48ddb,
.imageClickable_f1658c,
.innerWrapper__8cde3,
.button_fedac7,
.button__13ec4,
.cta__69e2a,
.button__908fa,
*/
.repliedMessage_e2bf4a::before,
.avatar__777a6,
.container__871ba,
.avatarSpeaking__61fb1,
.react-datepicker__close-icon:after,
.scopeCheck_c4c2dd,
.scopeTimes__83c10,
.icon__35b0e,
.dot__77561,
.closeButton__34341,
.iconLink__7260b,
.centerButton__3205b,
.playButtonContainer_d887d6,
.contextMenuNub__7c02f,
.ripple__74f0d,
.arrow_f5c530,
.closeContainer__123af,
.listingImage__35ae7,
.dotSeparator_d9bc79,
.listImage__9f972,
.headerIcon__8e637,
.divider_d66e63,
.pencilContainer_d4ce8d,
.avatarWrapper_f77579,
.addMembersIcon_e97261,
.guildsError__0aa84,
.tagRoleColor_c87a06,
.container__3379a,
.lockContainer__12d11,
.headerIcon_ca2fcf,
.achievementIconContainer__68129,
.voiceChannelEffectEmojiContainer_f23c2e,
.avatar__4c447,
.status__42e87,
.blocked_af4204,
.darkCircle__2f713,
.tierImage__31b2d,
.closeContainer__3fee3,
.tierImageContainer_a5f82e,
.tierImage__41b3d,
.colorHook__6570b,
.centerTarget_dffece.dragOver__84b73:before,
.badge_e2dfaa,
.maskBackground__23cef,
.unread_ade69e,
.imageUploaderInner_da8332,
.imageUploaderIcon__0c13b,
.statusDotBackground__56e10,
.hoverIconWrapper_c222a3,
.image__54a1a,
.emojiBackground__8c145,
.dotSeparator_b710b5,
.gifFavoriteButton_be5369:after,
.authorAvatar__53681,
.dot_d1c019,
.iconPlaceholder__01f37,
.button__3ecb4,
.divider__75dfe,
.emptyChannelIcon__1a1ba,
.closeCircle__7d056,
.iconWrapper__3e4a9,
.iconWrapper__85630,
.textDivider__38e43,
.playCircleWrapper__07549,
.checkmark__0b63d,
.stepCountIcon_a27a70,
.option_b5597b.user__97b4c .displayAvatar__98be9,
.ruleIconContainer_baf164,
.avatar__0e7e1,
.audienceIconContainer_b469ed,
.statusDot_e2b662,
.background__9acc3,
.buttonContainer__0014a,
.icon__058e4,
.iconBackground__61963,
.applicationIcon__79a1a,
.placeholderAvatar_c266f3,
.dotSeparator__44bc0,
.checkmark__1ae51,
.listingImage__8305d,
.radioGroupHorizontal__4f174 .formatRadioIconWrapper__4352a,
.tierImage__9d30a,
.rowIconEmpty_e20674,
.headerImageContainer_afb8f2,
.button__71a0f,
.roundAvatar__6cdf2,
.dot__05dbb,
.guildIconContainer__88c9b,
.avatar_b95265,
.guildIconUnavailable_db5297,
.guildsError__8dc0a,
.pauseBackground__213bd,
.avatarContainer__69aa4,
.avatar_c9fdd4,
.circle__7dd22,
.iconContainer__82920,
.actionButton__90c1a,
.stepNumber_f429db,
.multipleIconWrapper__164fb,
.voiceSectionAssets_d7306c,
.voiceSectionGuildImage_ca8a0f,
.voiceSectionNoGuildImageWrapper__2cbb8,
.voiceSectionIconWrapper_c50254,
.partyMemberUnknown__573ec,
.activitySectionAssets_ea2444 .smallImage_b378be,
.moreMutualGuildsBtn_cad227,
.actionButton__23182,
.playerOverflow__58b26,
.dot__577ab,
.adyen-checkout__spinner,
.adyen-checkout__radio_group__label:before,
.adyen-checkout__payment-method__radio,
.adyen-checkout__radio_group__label:after,
.themeSelection__6014a,
.adyen-checkout__payment-method__radio:after,
.selectionCircle_f4288e,
.appIconSelection__3c38d,
.appAvatar_dc107b,
.restoreButton__45ed8,
.colorHook__691ea,
.chattableIndicator__320a3,
.dot__1c4a3,
.badExampleIcon__70659,
.actionItemEmojiWrapper__09da8,
.resourceChannelIcon__35698,
.cardAvatar__4c223,
.roleCheckmark__13c19,
.iconOuter_ac48fc,
.icon__4c736,
.featureIcon__48a2c,
.stepIndex__1d9d1,
.memberDot__8f6df,
.background__226b5,
.iconWrapper__1b651,
.sourceGuildIcon__00135,
.addTags_e01f9c,
.dot_c98721,
.roleCircle_dfcfea,
.forumPostIcon__3d972,
.userListOverflow__814dc,
.statusContainer__41d49,
.testimonialControl_b21548,
.dotOnline__63f1c,
.acronym__9d1b3,
.ping_ab1f7f,
.bullet_b69425,
.icon__72424,
.checkIcon__5aa1f,
.iconContainer__6fc72,
.statusDot_ed8884,
.dot_bcf6ad,
.closeButtonContainer_eb68e8,
.dotSeparator__1e5f4,
.intangibleBenefitIcon__7e8a5,
.iconBackground__254c4,
.circle__2005c,
.icon__3947c,
.circle_d71ba0,
.listRowCircle__71b98,
.acronym__478e3,
.iconWrapper__392a5,
.bullet__5ffac,
.icon_f42d50,
.iconContainer__8f737,
.sortContainer__3ff02,
.countContainer__1b48f,
.discordIcon_aa2c2b,
.countContainer__51412,
.loader__0b0fd,
.loader__0b0fd:after,
.form_c73970 .mediaButton__501e6,
.semiCircle__814d3,
.notificationBadge__72436,
.priority__3ce6b,
.iconContainer__605bf,
.infoIcon_d988ce,
.bullet_ef82df,
.classificationActionsTakenRowIcon__46ce5,
.iconBackground__9035f,
.playButton__8725a,
.iconBackground__6c3ea,
.iconBackground_c502c3,
.stageIconBackground__66776,
.stageIconBackground_e27d3f,
.iconContainer__466ce,
.moreSubscribers_a13ebc,
.soundEdit__8bf1b,
.marker__6f061,
.sessionIcon__540be,
.marker__6f061 .empty__3837d,
.icon_e355a1,
.icon_f1e244,
.progressBarMarker__75301,
.progressBarMarkerUnlocked__29a56 .progressBarMarkerIndicator_f5387b,
.emptyStateIcon__9ee16,
.progressBarCurrentProgressTooltipMarker__7bafd,
.dot__67e1c,
.emojiItem_b15dee:after,
.avatar__52a9b,
.unownedStickerLockContainer_c16458,
.quizResultLogoWrapper_a761f8,
.houseLogoWrapper__80d77,
.boostIconContainer__91731,
.icon__21384,
.filledIcon__0811d,
.actionContainer_d21d10,
.icon_d2bc2f,
.icon__588c6,
.icon_f744fc,
.icon__8bfe4,
.closeWithCircleBackground_c70af9,
.wrapperSimple_a34580,
.roleCircle_bae511,
.pillIcon__5b2ea,
.assetsSmallImage__6b973,
.playPausePop_eaef41,
.clickableAvatar_e26163,
.iconWrapper__1e473,
.emptyUser_dba665,
.threadMessageAccessoryAvatar__4ccbb,
.replyAvatar_cea07c,
.replyBadge__3d01e,
.executedCommandAvatar__939bc,
.avatar__08316,
.button_ddf91e,
.muteContainer__605a9,
.emptyUser__30125,
.moreUsers__1d9e9,
.helpIcon_a58947,
.avatarContainer_f5815b,
.dot_e48146,
.macButton__3b74b,
.status__4454b,
.voiceAvatar__54cc1,
.avatar_eb6eba,
.roleColor_dc66b5,
.content__96073 ul li:before,
.avatar_a56eee,
.dotOnline__72689,
.circle_d78580,
.rowIconEmpty__59358,
.gemIndicatorContainer_b03ca0,
.tier__1597c,
.chasingDots_ef9ffe .item__0e5d6,
.enable-forced-colors .tooltipPointer_a79354,
.imageLoadingOverlay_fbe6d9,
.notificationDot_e0840f,
.wrapper__0be4c.ringingOutgoing_a69e6a:after,
.wrapper__0be4c.ringingIncoming__5e70d:after,
.centerButton__3205b,
.contextMenuNub__7c02f,
.vc-error-card,
.vc-notification-root,
.vc-notification-icon,
.vc-notification-progressbar,
.vc-settings-theme-card,
.vc-plugins-badge,
.vc-addon-card,
.vc-permviewer-perms-list-item,
.vc-st-modal-content input,
.shiki-root,
.shiki-btn,
.shiki-btn:last-child,
.shc-lock-screen-topic-container,
.shc-lock-screen-tags-container,
.shc-lock-screen-default-emoji-container>[class^=emojiContainer],
.shc-lock-screen-allowed-users-and-roles-container,
#vc-spotify-album-image,
.button__77913,
.pulsingEllipsis_f679bb .item__0e5d6,
.lowMotion_ff2273 .item__0e5d6,
.button_afdfd9,
.thin_b1c063::-webkit-scrollbar-thumb,
.auto_a48086::-webkit-scrollbar-track,
.auto_a48086::-webkit-scrollbar-thumb,
.root_a28985,
.header__6d5ea,
.footer__89240,
.content__764ce,
.close__1080c,
.inner__51a43,
.tooltip__01384,
.checkboxWrapper__02583.row_f4c450,
.box__66058,
.smallBox__28dd5,
.collapseable__71e46,
.collapseable__71e46:before,
.container__7712a,
.tag__3ba94,
.enable-forced-colors .input__74754,
.item__287de,
.container_d27846,
.loader__9ec90,
.calendarPicker__5c474 .react-datepicker__navigation.react-datepicker__navigation--previous,
.calendarPicker__5c474 .react-datepicker__navigation.react-datepicker__navigation--next,
.calendarPicker__5c474 .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker__5c474 .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker__5c474 .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker__5c474 .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type,
.input_d266e7,
.key__06fe6,
.container__8131d,
.error_f5f3e1,
.menu_dc52c6,
.item__183e8,
.container__3b77e,
.bar_e58961,
.grabber_d2868c,
.roundButton__9e83c,
.xsmall_d82b57,
.small_f53288,
.large__955ba,
.xsmall_b182d4,
.small__05b4b,
.large_ee287d,
.selectableItem__166c5,
.popoutList_db80c1,
.radioBar__40e1b,
.item_b7fb7e,
.collapsibleItem__1fd7b,
.pillContainer_e97d2d,
.pillItem__2d9fa,
.select__0eb48,
.open_cd27aa,
.selectPositionTop__139bc.open_cd27aa,
.popout_a6e77f,
.popout_a6e77f.popoutPositionTop_b2d29e,
.lookFilled__3dba3.popout_a6e77f,
.lookFilled__3dba3.popout_a6e77f.popoutPositionTop_b2d29e,
.optionPill__88565,
.multiSelectCheckbox_f164f6,
.side_b4b3f6 .item__48dda,
.topPill__0cdf1 .item__48dda,
.enable-forced-colors .top__592a7 .item__48dda,
.scrollbarGhostHairline_c9a45f::-webkit-scrollbar-thumb,
.browserItem__0ec4b,
.btn__12c9a,
.btnHamburger_df0060 span:nth-child(2n),
.btnHamburger_df0060 span:nth-child(odd),
.baseShapeRound__95d0f,
.input_d5a597,
.baseShapeRoundLeft__99acd,
.baseShapeRoundRight__556f4,
.authBox__7196a,
.px__97c6b.botTag__4211a,
.botTagOP_e48ddb,
.gameIcon__90c32,
.progressBar__0a392,
.cardIcon__3476e:before,
.imageWrapper_fd6587,
.bar_e63719,
.barInner_d1abc6,
.assetsLargeImage_b88a59,
.assetsLargeImageActivityFeedTwitch__1c589,
.twitchImageContainer__0f1f8,
.mediaBarInteractionVolume_f4c833,
.fakeEdges__17ee5:before,
.fakeEdges__17ee5:after,
.mediaBarGrabber_c64ff9,
.bubble_f48089,
.wrapper__3a7a0,
.wrapperAudio__555ce.newMosaicStyle_fb18b9,
.audioControls__9fbe9,
.video__4c052,
.enable-forced-colors .videoButton__1a553
.spoilerWarning_d02e2d,
.item_f9d377,
.attachment_f3cf2c,
.attachment_f3cf2c.newMosaicStyle__235c9,
.textContainer__709ff,
.textContainer__709ff pre,
.newMosaicStyle__8d3be .textContainer__709ff,
.footer__06f4b,
.newMosaicStyle__8d3be .footer__06f4b,
.languageSelector_a1c2f3,
.modalTextContainer_ddfc28,
.modalTextContainer_ddfc28 pre,
.wrapper_f46140,
.jumboContainer__873d1,
.container__17687,
.markup_a7e664 pre,
.markup_a7e664 .inline,
.blockquoteContainer_f24d1f .blockquoteDivider__96157,
.rolePopout__73806,
.timestamp_a65714,
.container__0c807,
.button__1ee63,
.container_de00a3,
.actions_cba988,
.enable-forced-colors .iconWrapper__9caa9,
.tooltipPremiumFooterContainer__6fefb,
.placeholderUsername__7fd2c,
.mulitplePlaceholderUsername__5bd27,
.mention,
.container__4f20e,
.layout_bb8e67,
.iconBadge_cc5031,
.enable-forced-colors .clickable_d23a1a,
.button__04d75:first-child,
.button__04d75:last-child,
.wrapper_efe67f,
.inviteSplash_f4eb93,
.resolvingFakeButton__101be,
.autocomplete_df266d,
.base__76a71,
.saturation__35997>div,
.saturation__35997>div>div,
.hue__687e2>div>div,
.hue__687e2>div>div>div>div,
.customColorPicker__3cb6a,
.colorPickerSwatch__87597,
.colorPickerSwatch__87597.default__8218c,
.colorPickerSwatch__87597.custom__383ac,
.suggestedColor__34249,
.card_dc88cd:before,
.copyInput_c1c679,
.button_aa59eb,
.endCap__95d53,
.content_d67847,
.embed_d3cbe3,
.embedImage_e638a7 img,
.embedImage_e638a7 video,
.embedThumbnail__468e1 img,
.embedThumbnail__468e1 video,
.embedVideo__0c65b img,
.embedVideo__0c65b video,
.embedGalleryImagesWrapper__1c971,
.embedMedia_b473d2,
.messageAttachmentMediaMosaic__65bfc,
.hoverButtonGroup__5b423,
.oneByOneGridSingle__01756,
.mediaAttachmentsContainer_edba75,
.moreUsers__03ae5,
.invite__2a93b,
.coverImageWrapper_e12d83,
.artwork__34afd,
.embedCard__66fca,
.withFooter_ab9bc4,
.footerContainer_a703d5,
.annotationRow__0fad1,
.embedCard__05d17,
.cardFooter_b3fc03,
.tooltip_a70a03,
.wrapper__4f229,
.searchBox_a63854,
.hljs,
.markdown_e76780 img,
.key__06b17,
.container__1422c,
.widget_fa48f3,
.bar__35915:first-child,
.bar__35915:last-child,
.body__3947f:first-child,
.body__3947f:last-child,
.wrapper_c727b6,
.quickSelectPopout_c0cf80,
.borderRadius__3965c,
.blob__8d5bd,
.attachment__7a2d0,
.root_b4f834,
.role__88585,
.memberListItem_f1d144,
.content_b06993,
.content_b60865,
.iconPriortySpeaker_b1ed03,
.card__86773,
.loading_e7a19f,
.spinner__97e4c,
.bar_edc096,
button.button__4f306,
.outer_a41cf3,
.inset__0bfb3,
.unit_e20095,
.phoneField__65729,
.phoneField__65729 .countryButton__499be,
.pageActions__11ae3,
.pageButtonPrev__9ee28,
.pageButtonNext_b6c1ca,
.videoWrapper__59fc3,
.card__6abbb,
.coverArtPosition__4a12c,
.modal__060da,
.spinner_caad3a,
.item__126a6:first-child,
.item__126a6:last-child,
.notice__5fd4c,
.button__57d93,
.group__6ae8b,
.container_e84cda,
.autocompleteShadow__902d2,
.autocompleteHeaderBackground__4e6c3,
.section__582ad:last-of-type,
.autocompleteHeaderBackground__4e6c3,
.empty__102c6:last-of-type,
.rowInner_feb94d,
.positionTop__33159 .autocompleteHeaderBackground__4e6c3,
.positionTop__33159 .sectionTag_b0df68,
.container__480a1,
.progressBarOuter_b030a9,
.result__25f11,
.guildIconContainer__6a1c8 .guildIcon_bd79ed,
.dmIconContainer__82728 .guildIcon_bd79ed,
.score_e61a7f,
.wrapper__4beb8,
.option_a0c054,
.layout__59abc,
.container__8759a,
.verificationBlock_c45d0e,
.prefixInput__38dcc,
.line__936a7,
.localeList_e461c7,
.localeBase__10938,
.moreList__27462,
.moreListLinkCopy__0f14b,
.mobileMenuItem_b9aaab,
.appButton__527a3,
.mainNavLink__85a21,
.video__562f3,
.container_bd6694 p>img,
.image__988dc,
.lead__8e4f4,
.premiumBanner__6597f,
.contentWrapper__85d37
.react-datepicker,
.react-datepicker__time-container--with-today-button,
.react-datepicker__week-number.react-datepicker__week-number--clickable:hover,
.react-datepicker__month--selected,
.react-datepicker__month--in-selecting-range,
.react-datepicker__month--in-range,
.react-datepicker__quarter--selected,
.react-datepicker__quarter--in-selecting-range,
.react-datepicker__quarter--in-range,
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover,
.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view,
.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown,
.focus-rings-ring,
.listItemContainer_cb9db1,
.disabledPermissionIcon__9cde2,
.select__79321,
.header_d9f9a8,
.footer__04ee2,
.betaTag_f50f8f,
.background__8de9e,
.contentWrapper__85d37,
.contentWrapper__85d37:only-child,
.stage_bc290c,
.inviteSplash_da131b,
.experimentUpsellError__8e549,
.category_ba5745,
.container__617c0,
.card__834d4,
.container__7b33c,
.search__24107,
.container_a6c201,
.list_a19d86,
.partyMemberOverflow_a911a1,
.icon__21384,
.container__3f4ea,
.container__79822,
.rippleContainer_bf482c,
.jumpToPresentBar__0ff7f,
.messagesErrorBar__06c0a,
.newMessagesBar__8b6d7,
.newMessagesPill_b3955f,
.newMessagesClear__8268e,
.jumpToPresentButton_ed4b6f,
.jumpToPresentSpinner_da40e5,
.hasMore_b03f46,
.mediaMosaicAltText__4ab63,
.mediaMosaicAltTextPopout__30593,
.popoutContainer__7b9a3,
.newTopicsBarContainer__59609,
.newTopicsBarTextSelected_eb32a1,
.topicsPillContainer__5c589,
.topicsPillTextSelected_fdcbd4,
.topicsCaretRight_d12c9e,
.topicsCaretLeft__3e363,
.topicsDropdownBase__9c0bb,
.item_d7f2df,
.storePaginationImg__4b08a,
.overlappingBorder__5f3f7,
.smallCarousel_cb7c79,
.smallCarouselItem__4b167,
.errorContainer__81ffd,
.benefit__97ba0,
.container__26dff,
.wrapper__35f8f,
.barLoader__938d9,
.buttonLoader_cfc5e1,
.list_b1e6a9,
.commandName__72789,
.intentsContainer__9bd68,
.assetWrapper__7a676,
.card__2ebbc,
.category__60494,
.emptyContainer__5df06,
.clickable_e2569e,
.container__3547a,
.content_a4aeb7,
.imageContainer_db8d48,
.container_dabadb,
.image_a9eb05,
.category__2d800,
.upsellTooltipWrapper_df8272,
.userProfileOuter__46bb7,
.userProfileInner__8065b,
.userPopoutInner_f545a3:before,
.userProfileModalInner__7c87d:before,
.userCardInner_d6aa46,
.overlayBackground__86b78,
.container_e26056,
.aboutMeGuildIcon_b05b69,
.connectedAccountVanityMetadataTag_f95c7c,
.connectedAccountContainer__23f00,
.connectionsContainer__67854,
.connections_ed453f,
.wumpusTooltip_b5c0ea,
.role__631a3,
.overflowRolesPopout__88ab9,
.inner__39f40,
.uploadDropModal__73a36.error_d2567f,
.uploadDropModal__73a36 .bgScale_f3a2be,
.uploadDropModal__73a36 .inner__7afe9,
.uploadModal_eae2a0,
.uploadModal_eae2a0 .inner__7afe9 .file_f309f6 .icon__25b13.image__00ac0,
.uploadModal_eae2a0 .footer_ceda43,
.card__48184,
.newTagItem_a90a00,
.gradientUpsellWrapper__221ac,
.mostPopularPill__8c0b3,
.trialBadge_dbab93,
.messageLengthUpsellContainer__32d48,
.artContainer__56b19,
.roundedBanner__9fa0a,
.profileBadges__7a7cb,
.memberGroupsPlaceholder_d0ae46,
.highlightRing__4d698,
.progressBarOuter__9b077,
.progressBarInner_c938f9,
.wrapper__26ed7,
.card__67edb,
.guildBoostCta__4ede9,
.guildBoostCtaBoost_d1aa53,
.wrapper_cf13f4,
.innerWrapper__8cde3:after,
.innerWrapper__8cde3:before,
.boostedTierIconBackground__3c57a,
.progressBarTrack__75763,
.progressBarFill__44068,
.tierCardCurrentTier_df8c32,
.tierCardNewFeatureBadge__8a39a,
.recommendedTierHighlight__57a8b:after,
.recommendedTierHighlight__57a8b:before,
.recommendedTierHighlightTag__82cc1,
.perkPreviewImage__0a7e2,
.topPerksCard__9fc01,
.topPerksCardImage_c0deea,
.regionSelectFlag_a0e812,
.container__515b3,
.activityItem_a6e176,
.iconInnerContainer__03112,
.activityActionButton__3b0fe,
.container_c344de,
.poster_bf580f,
.freeWrapper__08ead,
.burstNotice_ea6e72,
.banner_f818f0,
.wrapper_b1db9d,
.contentFill__9bf4d,
.wrapper_cd625e,
.stageListenerPill_ef06b3,
.guildSeparator__641a8,
.categoryItemDefaultCategory__67fe7,
.enable-forced-colors .categoryItemGuildCategory__2a2ce,
.enable-forced-colors .categoryItemDefaultCategory__67fe7,
.wrapper__1b032,
.diversitySelectorOptions__846c5,
.enable-forced-colors .diversitySelectorButton_a4f274,
.enable-forced-colors .diversityEmojiItem__6505f,
.container_e4c233,
.tag__69d9d,
.enable-forced-colors .input_f4043f,
.badgeLabel__7c5a4,
.wrapper__2d96c,
.newlyAddedBadge__97630,
.newlyAddedHighlight_b1b06a,
.newlyAddedHighlight_b1b06a.alignRight__6ec86,
.newlyAddedHighlight_b1b06a.oneItem_eacf29,
.emojiItem_b15dee,
.root__6943c,
.premiumRetentionNotice__7e7c4,
.premiumPromo__2d678,
.newBadge__68cd2,
.bogoTrialBadge__245f4,
.premiumTrialBadge_f2180d,
.streamerModeEnabledBtn__51c2f,
.paymentBanner__0d54f,
.grandfatheredMessage_b731ea,
.guildBoostingSubscriptionRow__3cbd5,
.guildBoostingSubscriptionRowBackground_c2d2fb,
.detailsBlock__1191c,
.container_ae490a,
.qualityIndicatorHighlightWrapper_a40cf2,
.streamGiftingPopout_e042c7,
.wrapper__567fe.ringing__8d141:after,
.joinButton__4bf9a,
.participantsButton__56586,
.viewAllButton__49567,
.overlayLabel__9e0a2,
.filledIcon__0811d,
.container__9bc50,
.infoCard_dce841,
.rowButton__3e5b7:first-child,
.rowButton__3e5b7:last-child,
.badge__9aec2,
.popout__83ef0,
.jump_d5b765,
.draftBadgeContainer__54085,
.container__94a29,
.emojiBenefitsRow__07f81,
.container_e2a91b,
.cardContainerWithoutTopIndicator_d7edfe,
.roleMessagePreview__8088a,
.benefits__6b938,
.container_a1853b,
.infoCard__1b190,
.rowButton__83e31:first-child,
.rowButton__83e31:last-child,
.banner__79cec,
.premiumSubscriptionAccountCredit__6bab4,
.iconBackground_e2dda2,
.root__52348,
.container__467eb,
.auditLog_fa817d,
.header_e03a30,
.tag_d57a1c,
.search_ff0e79 .DraftEditor-root .DraftEditor-editorContainer,
.searchBar__6ad55,
.container__52a36,
.keyboardShortcutsModal__74c71,
.quickswitcher_a3d29a,
.input__848cd,
.autocompleteQuerySymbol__3068e,
.enable-forced-colors .listItemWrapper__1f93b,
.target__47b05.dragOver__84b73:before,
.editCard_dfa091,
.editCard_dfa091:before,
.keywordsTextArea_d5eadb,
.keywordListContainer_fdf41c,
.actionContainer__51bd9,
.messageContentWrapper__72f89,
.messageContentWrapper__72f89.mentioned__9ecb2:before,
.unreadCount__40154,
.fakeActivityIcon__222c6,
.messagePreviewContainer_b1b266,
.calloutContainer_c0109d,
.banner_b7f1fb,
.featureBorder_a44f20,
.option__32fd1,
.wrapper__9ae30,
.wrapper__19c60,
.usageWrapper__13d86,
.description_a17828,
.source__656ff,
.section_e983c1,
.outerWrapper__08924,
.autocomplete__0c75a,
.gif__53ee1,
.categoryLoader__8f289,
.enable-forced-colors .gifFavoriteButton_be5369,
.result_e1fc74,
.result_e1fc74:after,
.gif__2aa16,
.searchSuggestion__1a6a7,
.emptyHintCard_f3e81a,
.placeholder__1d2a8,
.categoryFade_f9c843,
.categoryFadeBlurple_e73c11,
.stickerCategory__4891e,
.enable-forced-colors .stickerCategory__4891e,
.upsell__780f6,
.createSticker__22fad,
.keyboard-mode .stickerInspected__1c897:before,
.searchSuggestion__5559d,
.contentWrapper__321ed,
.navButton__05cc7,
.stickersUnseenBadge__92883,
.containerBackground__1e084,
.before_inlineCode__37e14,
.after_inlineCode__2197d,
.optionPill_f86b98,
.channelTextArea__56a36,
.focusRing_e5d39f,
.scrollableContainer__33e06,
.webkit__8d35a::-webkit-scrollbar-thumb,
.enable-forced-colors .webkit__8d35a::-webkit-scrollbar-track,
.generalBodyContainer__8d6db,
.generalContainer_f2bfcc,
.confirmationContainer_dd11f3,
.container__06f04,
.upload_c98ecb,
.altTag__3fced,
.media__059e0,
.imageSmall__59845,
.emptyOption__6179d,
.optionName__9d64d,
.toolbar_c7b525,
.root__03160,
.buttons_bee06d,
.staticToolbar__7ef7b,
.staticButtons__519e8,
.bioTextArea_a108c9,
.swatch__96672,
.upsellOverlayContainer__08979,
.upsellOverlay__688e8,
.upsellTextContainer__62647,
.guildSelectOptionIcon_b36e34,
.contentWarningPopout__7d8c2,
.theme-light .footer__36118,
.recentClipsPopout__5b2fb,
.thumbnail__1fc02,
.attachPopout_ad7c41,
.attachPopout_ad7c41,
.attachPopoutRow__3a2eb,
.userContainer_edba03,
.breadcrumbDot_e944f3,
.childButton__832dc,
.container_e7b28a,
.errorContainer_b41667,
.linkButton__39986,
.guildContainer__1df03,
.guildContainer_bca3d2,
.guildContainer__01a82,
.guildContainer__1b482,
.messagePreviewContainer_b47f3f,
.guildContainer__2e6fa,
.smsNumberContainer__3af03,
.userContainer__3a358,
.spamBanner_adb1b9,
.container__8fd9f,
.iconContainer__21954,
.iconCircle_de71da,
.tile_ebc93b,
.salePercentage__3a7c3,
.imgContainer_c1dbc2,
.content__8d72f,
.img__4293a,
.button__5b8a8,
.bumpBox_cfd81a,
.container__5a6b1,
.coverImage__37951,
.guildShopEmbed__03594,
.roleTag__58fc0,
.roleColor_d4af26,
.productCard__172bf,
.purchaseToUnlockBadge__9cccf,
.badge__12323,
.productCardClickable__81b39,
.container__9726e,
.newBadge_dc4e30,
.rsvpCount__4657d,
.thumbnail__3dea3,
.banner_dee758,
.select_ca9b91,
.optionTag__8fbbb,
.container__8d10e,
.image__644cf,
.postPreviewContainer_c69519,
.thumbnailOverlayCta__3c557,
.votePercentageBar__4c440,
.container__3ca24,
.invalidWrapper_a453d5,
.tile__8bac5,
.container__767d1,
.content_eddc02,
.content_eddc02.stacked__666da,
.imgContainer__123ce,
.imgContainer__123ce.stacked__666da,
.img__4bf5c,
.img__4bf5c.stacked__666da,
.actionButton__9cc26,
.downloadApps__30ed7,
.platform__97f9e,
.downloadButton__87489,
.artContainer__967a5
.contentWrapper_eab878,
.navButton__0565e,
.burstReactionTooltip__34a31,
.burstTooltipImage__78e9e,
.reactionBtn__46474.forceShow__3b507,
.reactionBtn__46474.forceShowLook_b78cf9,
.reaction_b90ab0,
.burstGlow_f0f94c,
.reactionBtn_b81964.forceShow__680cc,
.reactionBtn_b81964.forceShowLook__48e89,
.reaction_fef95b,
.burstGlow__012b7,
.reactionSelected__249a7,
.reactionDefault__792ef,
.remove__6bd0e,
.container_dc03c3,
.reactors__20ab0,
.container_d4b118,
.burstReactionTooltipCoachmark_f8f406,
.burstReactionTooltipUpsellCta__0bb21,
.thankYouCard_e40f4e,
.welcomeCard__24888,
.guildPopout_ea4d8c,
.placeholderSkeleton__7f9ab,
.popout__8e314,
.message__04d9f,
.emoji__932f7,
.burstReactionTooltip_b0c478,
.burstTooltipImage_c7de37,
.wrapper_ac0e24,
.actionContainer_d21d10,
.redactedMessages__70e27,
.pill_f055c3,
.addMemberRow_d14116,
.button_fb39e8,
.scroller__61bf9,
.overflow__5f7bc,
.chatBubble__9749b,
.card__3662a,
.sharePromptCta_bf62f4,
.box_dd6d91,
.strangerDangerBanner__2bd4d,
.thumbIcon__5b050,
.navigator__2971c,
.compactButton__0f247,
.compactButtonDisabled_f3bf7b,
.comboNameplate_b63756,
.wrapper_fbbb73,
.chat__52833.threadSidebarOpen_fa231d,
.chat__52833.threadSidebarOpen_fa231d .uploadArea__4f70b,
.channelEmoji__234a9,
.container_def45c,
.messagesPopoutWrap_b3b384,
.messageGroupWrapper_f8c6e9,
.jumpButton__0329d,
.friendRequestsButton_f19806,
.jumpButton_da1ebb,
.messageContainer_aa7d14,
.container__23c08,
.icon_d2bc2f,
.container__5f309,
.notes_f02984,
.button_e3b69c,
.dmIcon__160f0,
.badge_e08f91,
.pinIcon__2e5b2,
.newBadge_f7859b,
.newBadge_f7859b,
.pinIcon__39b6e,
.forumPost__0c88c,
.messages_f7999e,
.container__20de0,
.tutorial__7b875,
.tutorialIcon__5c63f,
.searchAnswer_b452e7,
.searchFilter__118cb,
.container_d6dad3,
.datePicker__94673 .datePickerHint__7cc9b .hintValue_c2ce1f,
.option_b5597b,
.search_ac353c .DraftEditor-root .DraftEditor-editorContainer,
.searchBar_e0c60b,
.resultsList_bec6cd,
.roleLabel_cf92a0,
.channelLabel__6345a,
.triggerMainContainer_c5139b,
.textArea__3f404,
.keywordsTextArea_e6a0d9,
.stepperContainer__053f4,
.stepper_ef3b85,
.mentionLimitContainer__0f0ff,
.addAnotherRuleCardContainer__5425d,
.textBadge__9e179,
.streamPreview__1846c,
.input__321f5,
.moreContainer_a9d4ad,
.audienceContainerCollapsed__3fa97,
.root__7cf5a,
.scroller_abc422,
.overflow__9227d,
.actionBarButton__49156,
.wrapper_bd2abe.chatSidebarOpen_dfaa6a .callContainer_cbde45,
.card__73022,
.addEntryCard_d9422a,
.header__7b78f,
.headerImage__0cf36,
.headerContent__74c51 .searchBox_bf114a,
.searchHeader__6a6c8 .searchPageBox__56275,
.emptySearchWrapper_a9e21a,
.container_c18052,
.container__8316e,
.innerBoarderedContainer_e438e6,
.notice__80f3b,
.noticeArrow__6bd79,
.tooltipImage__8596e,
.friend__05c43,
.confirmChannelItemContainer__5f409,
.searchResult_dcd237,
.button_f8244b,
.resultsBlocked_a701cf,
.raisedHandCount_abc960,
.boostUpsell__2133c,
.tileBaseContainer__7c06e,
.auto__7597f::-webkit-scrollbar-track,
.auto__7597f::-webkit-scrollbar-thumb,
.tileSizer__2e01f,
.buttonWithTextButton__2b1a5,
.speakerRaiseHandBadge__4ff97,
.notConnectedJoinButton__9cbf6,
.chat_f9a759 .select_d201b8>svg,
.privateThreadFeaturePill__5db2e,
.icon__588c6,
.container__6604b,
.noAvatarIcon__92d39,
.container__8261a,
.listRow__60937,
.badgeList_ef4131,
.actionBarContainer__8649e,
.applicationIcon__1f077,
.video_dad58f,
.close__0e4e9,
.hintText__9403f,
.tag_b919c2,
.overflowTagsPopout__6cee7,
.container__8877d,
.headerImage_d4505b,
.categoryPill_c95cea,
.headerImage__0db01,
.new__5e6ab,
.selected__08d26,
.iconContainer_c7bc76,
.placeholderUsername_a0786e,
.placeholderCreatedAt__8e7ac,
.messageBlock__391e7,
.ctaButton_fe1524,
.container__621e2,
.radioGroupHorizontal__4f174 .formatOptionRadioItem_ca84b2,
.coverImageUploader__6da5c .coverImageUploaderInner_c2808c,
.container_dcab7a,
.pill__6c90b,
.noProductsContainer__2ce01,
.tableContainer__5303b,
.unpublishedBadge__39470,
.container__48625,
.metricCard_aee037,
.tableContainer__3fe8a,
.container__1fed1,
.progressBarOuter__85e25,
.container_abb235,
.container_ee1785,
.list_c3881d,
.checkboxDisplay__0db01,
.container_a55ca5,
.container__18caf,
.container__6e0ff,
.swatch_bc36d1,
.container_d84d04,
.previewContainer__042f0,
.publishListing__439d1,
.createTierButton__8329c,
.emojiErrorItem_b85c9e,
.banner__01dd2,
.container_e85deb,
.eligibilityActionButton__8e96d,
.card_bc6ee2,
.ctaButton__5a1f4,
.earningsPreviewContainer__775cb,
.avatarCard_edc99c,
.creatorGuildCarousel__43c3f,
.guildCardHeaderAvatar__47b9e,
.subscriberCountValue__9f1fb,
.subscriberCountText__986fb,
.premiumEmojisRow__796a3,
.emojisContainer__68736,
.extraEmojiCount__86568,
.viewServerButton__1ce42,
.roundedEdges_eb6540,
.howItWorksContainer_ef4386,
.waitlistCtaButton_e42137,
.blockedPaymentsModalHeader_c41dc3,
.blockedPaymentsModalContent_f2e64e,
.container_b61112,
.guildIcon__31e46,
.confirmationButtonRow__11bf7,
.requirementContainer__45cb0,
.settingsFormItem__9f628,
.wrapperBase__1252c,
.fieldBackground_d6edfa,
.fieldBackground_d6edfa:hover:not(:focus),
.contentWrapper_f3403c,
.explainerContainer__02ca5,
.subscription__74af9,
.tierPill__1c25d,
.activeTransferGuildCardBorder__2eb21,
.transferFromGuildCard_a2a0d3,
.transferToGuildCard_b0618c,
.pendingCancellation__980cd,
.selectGuildPseudoCta__72d84,
.selectGuild__16a0a,
.price__301ab,
.trialBadgeContainer_b052cc,
.content__73f32,
.bar_ef682d,
.earlyAccessBadgeContainer_a53238,
.enable-forced-colors .container__4f639,
.containerDragBefore_fe91aa:before,
.containerDragAfter__437c5:after,
.containerUserOver__8b873:after,
.enable-forced-colors .iconBase_de0cd6,
.message__1a4b9 strong,
.containerDragBefore__06455:before,
.containerDragAfter__72575:before,
.containerUserOver_fe1d69:after,
.voiceChannelsButton__46c37,
.theme-dark .phantomPreview_d75877 .previewChannelRowContent_d97574:before,
.wrapper__5848b,
.spineBorder_bdec8b,
.container__31d25,
.icon24px__4546a,
.icon20px__279be
.overflow_bbcfc0,
.liveIndicator_b0f0af,
.popout__24e32,
.row__4daf2,
.bar__004d9,
.applicationLargeImage_a25e8c,
.container__60a4a,
.container__56cd1,
.morePartyMembers_ae5f2a,
.button__6ac9e,
.video_d48ca7,
.communityInfoPill_d3f445,
.card_a7a837,
.spoiler__58a46,
.video__01d3a,
.container__95fdb,
.video__8fa96,
.asset_a4df8e,
.stageUpsellInline_da242e,
.dropdownWrapperHighlighted__534a2:before,
.category__758fd,
.channelName_f48c90,
.expandedFolderBackground__1bec6,
.folderIconWrapper__72239,
.enable-forced-colors .expandedFolderIconWrapper__458cf,
.enable-forced-colors .closedFolderIconWrapper__7321f,
.enable-forced-colors .blobContainer__5ee50,
.guildSeparator_dcb3cc,
.guildRow__3a252,
.noResultsContent__804d1,
.contentWrapper__43e54,
.messageRequestItem__3b951:hover,
.messageRequestItem__3b951.active_a36bbb,
.selected__2244b,
.container_d3a736,
.selected_ee2dc5,
.container__9432b,
.container__51367,
.modal_e20911,
.video_e0bf60,
.video__72a95,
.video__32142,
.withTagAsButton_cc125f:hover,
.withTagless__98b7d:hover,
.container_ee5280,
.container_ee5280 .progressBarOuter_edaaec,
.container_ee5280 .progressBarInner__210ae,
.icon_c1b424,
.userList_a7e652,
.container__0810b,
.noiseCancellationPopout__06ec4,
.viewAsRolesWarning__4bb09,
.voicePanelIntroductionWrapper__29c3b,
.container__6968f,
.counter_a53858,
.loadMoreBar_af419c,
.row_c1b980,
.container__9f90c,
.container__9c82e,
.rowItem__65998:hover,
.rowItem__65998.active_fd6b46,
.box__6431e,
.container_a87c5e,
.section_efc22d:first-child,
.section_efc22d:last-child,
.section_efc22d:only-child,
.headerIcon__5761b,
.multipleIconWrapper__164fb,
.body__83069,
.applicationStreamingPreviewWrapper__97a95,
.applicationStreamingHoverText__10522,
.twitchSectionPreview_aa3797,
.activitySectionAssets_ea2444 .largeImage_f4707b,
.embeddedActivityPlayerContainer__85c5a,
.embeddedActivityImage_ce8ca9,
.embeddedActivityImageOverlay__198bc,
.partyMemberOverflow_d12297,
.itemCard__1f162,
.emptyCard_f82dde,
.popout_c6d10c,
.addFriendInputWrapper__4bf8e,
.ring__39e88,
.container_a308ae,
.container_e889ff,
.container__7998b,
.peopleListItem_d14722:hover,
.peopleListItem_d14722.active__6b8ff,
.collapsedCoachmarkContainer_d7741e,
.expandedCoachmarkContentContainer_f2e3d6,
.expandedCoachmarkBannerContainer__96f94,
.tutorialLinkcontainerEnabled_bed8e9:focus .tutorialLinkBackground_a8c620,
.tutorialLinkcontainerEnabled_bed8e9:hover .tutorialLinkBackground_a8c620,
.banner__4cbda,
.bannerContainer__68398,
.bannerContainer__44156,
.countdownStatic_c58da5,
.countdown_ed561e,
.countdownWithAnimation_bf56f3,
.perkCard__6fe60,
.perkCardNewBadge_fd8dcf,
.perkCardEarlyAccessBadge__3a028,
.customButton_c0cc97,
.card_e97590,
.pill__54751,
.cardDescription__46c9d,
.cover__60fa6,
.innerWrapper_c80bad,
.innerWrapper_c80bad:after,
.innerWrapper_c80bad:before,
.tier2ColumnOuter__0b5e2,
.mostPopularPill__0aaba,
.settingsHero__55ff3,
.row__80d34,
.alternativeSku_d53cbd,
.warning__077d4,
.price_afc9b2,
.section__2e34f:first-child,
.section__2e34f:last-child,
.header__4798d,
.premiumHeaderPrice_a3d92b,
.priceSalePercentage__564c0,
.root__3d5e9,
.content__8af7f,
.enable-forced-colors .countryCode__1c6e4,
.expirationContainer__43733,
.closeIcon__3a9d4,
.splashBackground_e93752 .inviteRegisterAuthBox__7c881,
.inviteCard__3b627,
.usagePill__0f612,
.image__20c8d,
.list__4e6aa,
.authCaptcha_adc4ec,
.container__73245,
.content__1b8a0,
.cardInput__72fe9,
.credentialList_f9417e,
.btn__51085.btnPrimary_e2a8df,
.acheckout__button,
.adyen-checkout__button.adyen-checkout__button--link,
.adyen-checkout__input,
.adyen-checkout__dropdown__button,
.adyen-checkout__dropdown__button__icon,
.adyen-checkout__dropdown__list,
.adyen-checkout__dropdown__element__icon,
.adyen-checkout__checkbox__input+.adyen-checkout__checkbox__label:before,
.adyen-checkout__checkbox__input+.adyen-checkout__checkbox__label:after,
.adyen-checkout__field--consentCheckbox,
.ApplePayButton-module_apple-pay-button__l5g-d,
.adyen-checkout__issuer-button,
.CardInput-module_card-input__icon__3Cz5M,
.adyen-checkout__card__brands img,
.adyen-checkout__card__brands__brand-wrapper:after,
.adyen-checkout__modal,
.adyen-checkout-ctp__section,
.adyen-checkout-ctp__card-list-single-card,
.adyen-checkout-ctp__card-image,
.adyen-checkout-ctp__card,
.adyen-checkout-ctp__empty-cards,
.adyen-checkout__campaign,
.adyen-checkout__campaign-logo,
.adyen-checkout__voucher-result,
.adyen-checkout__voucher-result__top,
.adyen-checkout__voucher-result__bottom,
.adyen-checkout__voucher-result__image__wrapper:after,
.adyen-checkout__voucher-result__image__brand,
.adyen-checkout__voucher-result__image__issuer,
.adyen-checkout__qr-loader,
.adyen-checkout__qr-loader__brand-logo,
.adyen-checkout__qr-loader__progress,
.adyen-checkout__qr-loader__percentage,
.adyen-checkout__alert-message,
.adyen-checkout__payment-method__disable-confirmation__button,
.adyen-checkout__payment-method--selected,
.adyen-checkout__payment-method__image__wrapper--outline:after,
.adyen-checkout__payment-method__image,
.adyen-checkout__order-remaining-amount,
.adyen-checkout__status,
.adyen-checkout__await,
.adyen-checkout__await__brand-logo,
.adyen-checkout__await__progress,
.adyen-checkout__await__percentage,
.adyen-checkout__segmented-control-segment,
.adyen-checkout__segmented-control,
.betaTagContainer_da1cb9,
.expandedInfo__47bad,
.statusTag__5ce7a,
.guildProductBenefits__6bc56,
.filter_a68c4a,
.indicator__2b793,
.paymentPane__9cf01,
.externalRow_aeef88,
.inner__51a43,
.connectionHeader__3c82d,
.enableSwitch_bbd845,
.iconContainer_e2545a,
.premiumMemberCountSwitchContainer__5ba27,
.container__9bb08,
.role_cf26ce,
.iconContainer__86506,
.rolesList_fa83a4,
.searchBar_e4ea2a .searchBarComponent__22760,
.activitiesBirthdayIcon__31975,
.rowWrapper__2d725,
.rowBackground__09cc3,
.defaultIndicator__2a4ea,
.platform-win .sidebar_ded4b5,
.root__46d4f,
.pictureInPictureVideo_f1081d,
.searchBar__053a8 .searchBarComponent__29f71,
.widget__834b1,
.activateKeybind__125a6,
.inGameActive__81bbe .messages__63c33,
.theme-dark .inGame_a07958 .footerContentPinned_d4df5a,
.theme-dark .inGame_a07958:not(.inGameActive__81bbe) .footerContent__7c0d7,
.theme-dark .inGame_a07958:not(.inGameActive__81bbe) .messagesContainer__20117:not(.looksLocked__1f619),
.footer_dfb438,
.headerContainer_cc64ba,
.container__76ef3,
.bannerUpsell__49abb,
.container__01db1,
.table_e130b5,
.rowPercentDiscount__35f0a,
.noticeRoot_c88e50,
.auditLog__6c805,
.iconContainer_b60662,
.header__8e9c1,
.channelList__4e836,
.emptyStateIcon__3b663,
.dropIndicatorBefore_f65b88:before,
.dropIndicatorAfter_c11494:after,
.dropIndicatorBefore_d92945:before,
.dropIndicatorAfter__68561:after,
.dropIndicatorBefore_a04d9c:before,
.dropIndicatorAfter_a30411:after,
.channelPill_c6644a,
.headerArtWrapper__5d8d9,
.headerArt_e3ee19,
.avatarBackground__9cf9d,
.avatarBorder_d9ba14,
.card__7865b,
.avatarUploaderInnerSquare__72e9d,
.dropIndicatorBefore_b0c403:before,
.dropIndicatorAfter__2843f:after,
.stackedDropIndicatorBefore__32201:before,
.stackedDropIndicatorAfter_cfb38f:after,
.container_ecf1d0,
.accountAddInner_f8b715,
.notice_d6d405,
.errorDetails__73313,
.animationContainer__92094,
.wrapper_e00d9b,
.textArea__771cd,
.upsellFooter__9e85b,
.existingSlotNotice__52f30,
.perksList__35a93,
.customGiftBox__58f45,
.customGiftBoxHighlighted__7a298,
.sound__4e0b6,
.emoji_e926fa,
.selectionBox_aded7c,
.planOptionDiscount__956f7,
.reviewWarningMessageContainer__814f2,
.installSize__2829a,
.price__9237d,
.resultWrapper_e83d3a,
.banReasonOtherClickable_e4b932,
.error__39c25,
.channelContainer_c4b275,
.overridePlaceholder__46353,
.tips__0181a,
.content__3a124,
.modalRoot__8c66e,
.activityInfoInnerContainer__9a4f4,
.modalRoot__58fea,
.luckyButton__7e44e,
.heroFlipperBack__6230c,
.freeForeverRight__07712,
.birthdayExplanationWrapper_bcfc0b,
.flipCardInner__58d1c,
.flipCardOpened__2789c,
.flipCardClosed__14ef3,
.flipCardClosedImg__7e417,
.flipCardClosedText__573f4,
.flipCardText__46775,
.whatsNewItemContainer_e3fce7,
.newTag__6a35f,
.whatsNewImage_c5904f,
.happeningNowCard_cfc84a,
.happeningNowJoin_baf1df,
.activityCard__8295a,
.activityCardTag__5e5fa,
.celebrateCardContainer_cee705,
.celebrateCardImage_a895ba,
.activityDetailsContainer__9e84a,
.activityImage__2047e,
.launcherInnerContainer__0bbe8,
.activityDetailsContainer__267ef,
.heroVideoContainer__3d47b,
.activityImage__1ea3f,
.launcherInnerContainer__0f97c,
.launchImage_e2a0c6,
.actionButton_ef4fe7,
.activityItem__33da9,
.activityTag__01970,
.staffBadge__43162,
.activityCard__75b09,
.activityCardTag_db4924,
.minimalDetails_af03df,
.poster__76d67,
.rootBigShelf__4be1e,
.modalHeaderBigShelf__79a9e,
.listContainer__20eb2,
.answerChoicesContainer__0363e,
.promo__50282,
.linkCalloutContainer__8f155,
.attachmentContainer__6be7d,
.submitContainer_c42a53,
.card__4318b,
.settingCard__00567,
.modalLight_dab96f,
.clipForm_ada1a3,
.displayVideo_ca0a1c,
.timePillBackground__0044a,
.root_bffbd0,
.channelRow__77ba0,
.clydeIcon_da41f4,
.modal__204ef,
.guildButton__2cf70,
.modalRoot_fca654,
.activityInfoInnerContainer__1a63b,
.decorationPreview_d09d2f,
.smallDecorationPreviewsContainer_c0deb8,
.decorationGridItem__80f7f,
.typePill_eaf8d6,
.heroBanner_e16ab1,
.bannerBackgroundWrapper_c98734,
.premiumBadgeWrapper__58187,
.modalContent__3d79f,
.collectionText__817ba,
.badge_fc1cab,
.application_db467c,
.connectionsChecksGroup_b937e2,
.connectionsChecksGroupRequirementsNotMet__22372,
.accountConnectedPrivacyOptionsContainer__93845,
.roleGranted_c7c262,
.channelsGranted_bca235,
.verifiedRole__0c20a,
.input__0c269,
.rowContainer__6f4c6,
.learnMoreTipContainer_db605b,
.previewNotice__984de,
.modal_ea5694,
.coverImage__9ce42,
.guildRow_b1c31c,
.dragBefore__17b67:before,
.dragAfter_caff7f:after,
.guildProductRoleIcon__3b6be,
.containerDragBefore_d2b382:before,
.containerDragAfter__944b7:after,
.backgroundContainer__06189,
.iconContainer_cbf972,
.fieldBackground_b79764,
.addFormField__3ecc3,
.analyticsCard_a976ba,
.upsellContent_b657aa,
.upsellFooter__63475,
.tooltip_ffc2ca,
.main__1b033,
.optionContainer__5d0b1,
.overviewSidebar__80841,
.inputWrapper_b7205b,
.tag_eb6038,
.nowPlaying__353c3,
.notDetected__2a0c9,
.gameNameInput_e25dd8,
.addGamePopout_e4ca8f,
.videoWrapper__7b3e0,
.membershipDialog__2f195,
.confirmPremiumIcon_ac48e0,
.selectDangerBorder__456be,
.container__25f89,
.dropIndicatorBefore__38fad:before,
.dropIndicatorAfter_edd1df:after,
.inlineTag_dbd8e6,
.tag__5bfc0,
.previewContainer__0f3c5,
.card_bb8a83,
.cardHeaderIcon__7eaa9,
.stepNumberContainer__8b193,
.card__7756d,
.selectedDeviceContainer__37071,
.upsellBanner__4c9fb,
.qualitySettingsContainer__5cacd,
.guildRow__4d791,
.sourceThumbnail__21c87,
.checkboxContainer__28e86,
.optionContainer__92423,
.pauseContainer__4d243,
.enableAlertsContainer__25cd6,
.optionContainer_beed31,
.perks__63e5a,
.subheaderContainer_b3b48f,
.iconContainer_ccedf9,
.coverContainer_e99487,
.centerContent_d55275,
.testimonialContainer__3e4a3,
.testimonialHeroContainer__4a355,
.sidebarCardWrapper__2c840,
.resourceChannel__79493,
.action_c957d9,
.resourceImageBase_c9b174,
.channelIconContainer__5df13,
.rulesIconContainer__2a9f3,
.checkboxCircle_aed363,
.guildBanner__3378f,
.modal_c730b4,
.roleRow__7e51f,
.tableContainer_d179c3,
.featureModalMessage__33f13,
.demoContainer__7d447,
.demoList__0adca,
.demoItem__0ee27,
.dummySwitch_ddf882,
.content__8acc8,
.sidebar_a3d39b,
.rulesTextAreaInput__16f5b,
.exampleRule_e1ac69,
.modal_f05852,
.content_ab56e9,
.videoContainer_a9d080,
.video_c89705,
.upsellItem__6f36e,
.container__6a848,
.subtitleSeparator__7ee0b,
.search__4a09e,
.createButton__5c763,
.optionButtonWrapper__4072c,
.memberCount_b5b6d4,
.prompt__1b100,
.selectValuePill__95251,
.profileCard_bd55ee,
.role__65ab8,
.prompt__671aa,
.headerSeparator_b9deff,
.selectValuePill_d743d3,
.content_f45494,
.termsFieldBody__96dcb,
.container_ec1a33,
.row__70f4c,
.media_c4f903,
.emptyContainer__8ad4e,
.featuredItemsGroupWrapper__08cdf,
.container__16581,
.typingIndicator_b21a29,
.previewContainer__0163f,
.previewImage__37e1d img,
.previewHover_d98115,
.previewButton_c791d5,
.previewName__218aa,
.containerCard__30250,
.collapsedLayout__84e50 .typingIndicator_b21a29,
.eventImg__1f04e,
.eventJoinContainer__230a4,
.eventImgHover__8d20e,
.eventImgJoinButton__8df2e,
.container_acafc1,
.emptyStateContainer__3c229,
.scrollIcon_bcdae3,
.emptyStateContainer__3c229,
.pill__6d851,
.replySpine_ed1feb,
.card_d4f6c7,
.icon__6dea8,
.options__212f8,
.container__99b36.background_a03d45,
.container__99b36.primaryBackground__4c6a1,
.container__41358,
.container_f55cad,
.container__92dc8,
.iconWrapper__1629a,
.deprecationNotice_bfe361,
.container__15214,
.container_ceda4a,
.attachedFileCard__10412,
.viewContents__77b78,
.modal__6793e,
.clickableItem_e3098b,
.attachedRoleContainer__75eb3,
.modalRoot_df2640,
.benefitToggleContainer__7bf04,
.modal_daea9e,
.footer__59f59,
.modal_e68e90,
.purchaseSummaryContainer__43f90,
.purchaseSummaryImage__55c9c,
.benefitsContainer__2ddee,
.demo__32e08,
.avatar__6153a,
.listingRoleRow_ffedb8,
.roleIcon_ce7b60,
.priceRow__8d925,
.modalRoot__2f84f,
.modalContent_fbc889,
.templateCard_a06112,
.createFromStratchButton__48e23,
.emojiContainer__1fd85,
.checklistContainer__24eec,
.eligibilityModal_a944d7,
.container_ea185e,
.guildIcon_b9c365,
.featuredTag__6550f,
.previewCard__43d10,
.pill__40a0e,
.listRow_fd96f9,
.banner_f9fe96,
.resultsList_ccad0b,
.wrapper_a24459,
.tier_d180cf,
.guild__74638,
.enable-forced-colors .guildSubscriptionSlotMenuIcon__8c559,
.channelsWrapper__43bd3,
.rolesWrapper__8c206,
.role__1190c,
.modalRoot__33b6f,
.optionBox__0338f,
.pillWrapper_f3cc49,
.emojiErrorItem_edbf70,
.container_fd3603,
.textInput__210e5,
.inviteRow_a25947,
.temporaryMembershipContainerBackground__90283,
.inviteBannerUpsell__5bda4,
.acronym__1e8a9,
.pill_b241e1,
.container_f645e4,
.linkCalloutContainer__8ff6e,
.container__5a3d5,
.headerRow__2d50f,
.contentMediaContainer_dd0d00,
.previewEmbedImage__46bf0,
.serverSubPill_ddb666,
.contentVideoContainer__2d08b,
.mediaChannelTag_cba7ac,
.videoPreview__86b8c,
.reactionBox__83796,
.newPostsButton__760c6,
.tagsButton_e96762,
.thumbnailContainer_eee57a,
.uploadFileInputContainer__25a44,
.thumbnail__8377c,
.changeThumbnailLabelContainer_e9b2d3,
.form_c73970 .submitButton__6a7c5,
.bodyMediaFrame_cfd024,
.navRow_bb8efc,
.card__28b25,
.overridePlaceholder_ee89b0,
.guildIconContainer__147e5,
.discordIconContainer_e5bf8e,
.radioItem__053f5,
.radioItem__053f5:hover:not([aria-checked=true]):not(.disabled__30b0b),
.react-datepicker--time-only .react-datepicker__time,
.react-datepicker--time-only .react-datepicker__time-box,
.react-datepicker__time-container .react-datepicker__time,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box
.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type,
.topicsScroller_e438ad,
.paymentSourceWarning_c22d31,
.changeDetails__285ac,
.container__7b94f.chatOpen_d153d9,
.sidebarOrChatVisible__8e92f,
.modal_b38209,
.bottomBorderRadius__003ec,
.adyen-checkout__payment-method--next-selected,
.adyen-checkout__payment-method:last-child,
.adyen-checkout__order-payment-method:last-child,
.lastChannel_e815f4,
.root__06805>:last-child,
.headerImage_c6b7a9,
.cardFolder__34393,
.timelineBackground__39b81,
.dragHandleRight__34646,
.containerFooter_c8da8a,
.fieldFooterContainer_bde375,
.previewContainer_b0f5b4,
.allow__6f2d0,
.advanced_cf7945,
.lastChannel__129f1
.navButtons__484bf,
.header_c01fde,
.matchingPostsRow__510be,
.radioItem__053f5,
.optionPillKey_e84f41,
.spine_d081ec,
.scroller__5fda0,
.container__7b94f,
.guildSidebar__8763f,
.platform-win .splashBackground__388cf:before,
.playPauseButtonWrapper_b89e9a,
.dragHandleLeft__2ec09,
.deny_c46df5,
.conversationMessage__0d40e:after,
.react-datepicker__header:not(.react-datepicker__header--has-time-select),
.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type,
.topicsDropdownHeading_db330d,
.headerImage__2668d,
.splashImage_df3cce,
.wumpusImageContainer__5990c,
.headerEmpty__7c318+.breadcrumb,
.headerEmpty__7c318+.paymentModalContent,
.attachedBars_da3c74,
.replyBar_b64d74,
.banner_f13f1e,
.headerContainer_bff52d.chatOpen_d153d9,
.container_cf0d66,
.root__41539,
.topBorderRadius__4a0b5,
.adyen-checkout__payment-method--selected+.adyen-checkout__payment-method,
.adyen-checkout__payment-method:first-child,
.adyen-checkout__order-payment-method:first-child,
.firstChannel_e6b7ee,
.header__4ef99,
.activityInfoOuterContainer_a42a9d,
.activityInfoOuterContainer__2abdd,
.shopPreviewBanner__822b9,
.containerTopHat_c7a49f,
.enableContainer__0945b,
.firstChannel__94f31,
.formSection__6e7e2,
.image_b37391,
.headerImage_f493db,
.optionPillKey_e84f41,
.staticToolbar__7ef7b .button__07531:first-of-type,
.headerContainer_bff52d,
.ctaSection__00f0f,
.input__9e0b5,
.inputInner__5a804,
.modal__6c4f4,
.sidebar__76821,
.controls_ca114f,
.locked__636b4,
.error__3115a,
.error_e36ba7,
.row_a6aa92,
.content_fe832f,
.error__677d4,
.content__5dd13,
.error_f74f70,
.modalRoot__68d8e,
.select__47579,
.qrCode_af66d7,
.modalOverrideBody__4770a,
.infoPicture__3d713,
.userCardContainer__14fb5,
.profileCard__35550,
.accountProfileCard_b19fbd,
.close__5e063,
.inactiveContainer_d23a27,
.previewingInGameHeader_c3412b,
.featuredPack__04523,
.featuredPack__04523,
.featuredPackFooter_fbeabf,
.featuredPackFooterButton_f23a86,
.root__43c8a,
.footerUpsell__34800,
.notice_d5178d,
.nitroPreviewUpsell__20b14,
.editingContainer_fc64fa,
.whatYouLoseItem__29eb0,
.profileCardTier1__84191,
.profileBanner_a925ca,
.boostCard__69bfb,
.bannerContainer__6d741,
.banner__384a7,
.button__72fb0,
.skuSelectModalHeader_a2b0d3,
.skuSelectModalContent__16b0f,
.content_f99e36,
.subscriptionContainer__23250,
.root_de5ec7,
.video__98255,
.featureCard_f69a9f,
.featureCardTag_dd0ea4,
.trialPill_d04c59,
.effectDescriptionBorder__064f2,
.effectDescriptionContainer_d33b78,
.effectGridItem__957b0,
.presetEffectImg__36662,
.presetEffectBackground__97b48,
.roleRow__524ba,
.tableContainer__2419f,
.progressBackground__03de4,
.progressBar_d93c4e,
.classificationEvidenceCard__3d464,
.classificationActionsTakenCard__9dd97,
.classificationPolicyCard__0923e,
.classificationPolicyCardIcon_d0f23c,
.emoji__9b8d0,
.playhead_b5959e:before,
.handleIconFrame_d5efc2,
.handleIconContainer_e4fd6a,
.guildSelectOptionIcon__9cdc4,
.modal_f53429,
.modalFooter__6a783,
.container__886f8,
.content__40976,
.textInput__27b94,
.pill_eb7b56,
.subscribersPopout__1da1e,
.tier_d16770,
.tierHeader__5bf89,
.tierHeaderWithoutCardBody__1282a,
.tierUnlocked__01133,
.tierCloseHint_ec80c8,
.tierBody__615a1,
.wrapper__93f27,
.action_d01fae,
.preview_da637c,
.placeholderCard__622e2,
.perks_d0a69d,
.feature__38d7d,
.newTag__1b6d9,
.backgroundImage__8985e,
.closeButton__0b289,
.root_deaa76,
.content__5dbd6 .contentBullets__3208f,
.content__5dbd6 .contentBullets__3208f .contentBullet__83963 .iconContainer_f55244,
.emoji__903a7,
.modal_d06ca2,
.container_bc0d2b,
.forumGuidelines_bf8d3d,
.modal__48b3d,
.note__7a4f4 textarea,
.badgeList_c193e3,
.root_ba16f0,
.body_ea740e,
.questionMark__8d22a,
.imageWrapper_ef4d16,
.gradient_e94761,
.guildBoostGemWrapper__975b2,
.recommendedServerCard__70a39:after,
.recommendedServerCard__70a39:before,
.header_a2ba3b,
.unappliedBoostSlots__22eb6,
.iconBackground_a14261,
div.nagbar_c731ff,
.premiumProfilePreviewModal__0692c,
.userPopoutContainer_e3c426,
.pill_db9b4b,
.valuePropIconContainer__228db,
.backgroundOptionInner__1477f,
.playIcon_af44c5,
.newTextBadge_da2cca,
.backgroundOptionRing__1f209,
.cameraPreview__91c21,
.errorMessageContainer_de030f,
.card__4dc22,
.select__0eb48,
.popout_a6e77f,
.button_afdfd9,
.background_b61fcc,
.accountProfileCard__22589 {
    border-radius: 0;
}